/* @import 'reset.css'; */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	font-weight: 400;
    background-color: #fAfAfA;
    color: #262626;
}

aside {
    background-color: #FFFFFF;
    direction: node;
}

a {
    text-decoration: none;
    color: #262626;
}

button {
    width: 90px;
    height: 30px;
    border-radius: 4px;
    margin-left: 20px;
    background: #0094F6;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}

.footer {
    height: 93px;
    font-size: 11.5px;
    display: flex;
    /* align-items: center;       
    justify-content: center; */
}

.footer, .footer a {
    color: #8E8E8E;
}

.footer-container {
    width: 662px;
    height: 48px;
}

.aside {
    width: 244px;
    height: 2482px;  /* Altura total de la ventana */
}

.saved-story {
    width: 125px;
    height: 130px;
    padding-top: 55px;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
}

.saved-story-pic {
    width: 77px;
    height: auto;
    border-radius: 50%; /* Hace que la imagen sea circular */
    border: 5px solid #ffffff; /* Ajusta el color y el grosor del borde según sea necesario */
}

.post-pic {
    width: 293px;
}

.pic-gap {
    margin-top: 28px;
}

.post-img-wrapper {
    position: relative;
    display: inline-block;
}

.overlay-icon {
    position: absolute;
    top: 18.38px;       /* adjust as needed */
    right: 18.38px;     /* adjust as needed */
    width: 21.23px;    /* set size if needed */
    height: 21.23px;
    z-index: 2;
}

.overlay-icon-reels {
    position: absolute;
    top: 15px;       /* adjust as needed */
    right: 15px;     /* adjust as needed */
    width: 28px;    /* set size if needed */
    height: 28px;
    z-index: 2;
}

.header {
    height: 494px
}

.header-top {
    height: 441px;
    padding: 71px 0 55px 73px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* margin-left: 28px; */
}

.header-top-profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.header-top-profile-box {
    padding-bottom: 44px;
}

.header-top-profile-info {
    width: 613px;
    padding-top: 14px;
}

.header-top-profile-info-username {
    font-size: 1.6em;
    font-weight: 350;
}

.header-top-profile-info-stats {
    font-size: 16px;
    font-weight: 350;
    padding: 20px 0;
}

.header-top-profile-info-name {
    font-size: 1em;
    font-weight: 600;
}

.header-top-dots {
    width: 24px;
    height: 24px;
    padding-left: 13px;
}

.header-and-main {
    width: 935px;
}

/* Header Stats */

.stats-box {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    width: 120px;
}
.stats-bold-text {
    font-weight: 500;
}

.d-flex {
    display: flex;
}

.flex-justify-center {
    justify-content: center;
}

.flex-justify-spc-btween {
    justify-content: space-between;
}

.flex-justify-spc-around {
    justify-content: space-around;
}

.flex-wrap-wrap {
    flex-wrap: wrap;
}

.flex-align-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.display-inline {
    display: inline;
}

.display-decoration-none {
    text-decoration: none;
}

.space-below {
    margin-bottom: 13px;
}

/* .outline {
    border: .1px dotted red;
} */

.top-nav-heigh {
    height: 53px;
    /* background-color: blueviolet; */
}

.top-nav-line {
    border-top: 1px solid #DBDBDB;
}

.top-nav-link-box {
    width: 120px;
    height: 52px;
    padding: 0 12px;
}

.top-nav-link-box:hover {
    background-color: #F2F2F2;
}

.top-nav-text {
    font-size: 11px;
    font-weight: 600;
    padding-left: 8px;
    color: #8E8E8E;
}

.top-nav-text-select {
    font-size: 11px;
    font-weight: 600;
    padding-left: 8px;
}

.top-nav-icon {
    width: 12px;
    height: 12px;
}

.aside-nav-box {
    width: 220px;
    height: 48px;
    margin: 8px 12px;
    padding: 12px;
}

.aside-nav-box:hover {
    background-color: #F2F2F2;
    border-radius: 4px;
}

.aside-nav-text-space {
    margin-left: 16px;
} 

.aside-nav-logo-box {
    padding-top: 40px;
    padding-left: 24px;
    padding-bottom: 27px;
}

.footer-row-2-spc-1 {
    margin-left: 8px;
}

.footer-row-2-spc-2 {
    margin-left: 26px;
}
